<div class="jumbotron">
    <a href="htt://www.angular.io" target="_blank"><img class="image-responsive" src="~/Assets/Images/Angular2.png" alt="angular.io" /></a>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="http://www.w3schools.com/html/html5_intro.asp" target="_blank"><img class="image-responsive" src="~/Assets/Images/htmlcss.jpg" alt="Html 5 - CSS3" />  </a>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="https://www.typescriptlang.org/" target="_blank"><img width="60%" class="image-responsive" src="~/Assets/Images/typescript.png" alt="Typescript" /> </a>

    </div>
    
</div>
