<div class="jumbotron">
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank"><img src="~/Assets/Images/Angular2.png" alt="angular.io" /> htt://www.angular.io</a></p>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank"><img src="~/Assets/Images/htmlcss.jpg" alt="Html 5 - CSS3" /> http://www.w3schools.com/html/html5_intro.asp </a></p>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank"><img src="~/Assets/Images/typescript.png" alt="Typescript" /> https://www.typescriptlang.org/</a></p>

    </div>
    
</div>
